.book-img {
  height: 15rem;
  object-fit: cover;
  object-position: top;
}

.book-row {
  height: 22rem;
}

.book-card {
  margin: 0 0.5rem;
  cursor: pointer;
  min-height: 20rem;
}

#cover-buku {
  width: 12rem;
  height: auto;
}

body.modal-open {
  overflow: hidden !important;
}

.slick-prev::before,
.slick-next::before {
  color: #4E5258;
}

.category-title::after {
  content: "↗";
  font-size: 0.75em;
}
